.app-header {
    background-color: var(--color-primary-dark);
    color: white;
    padding: 15px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app-header h1 {
    font-size: 1.5rem;
    font-weight: 700;
}

.app-main {
    flex-grow: 1;
    overflow-x: auto;
}

.text-gray-400 {
    color: rgba(255, 255, 255, 0.7);
}